body {
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  background-color: black;
}

.player {
	position: absolute;
	width: 200%;
	height: 100%;
}

.slide {
	overflow: hidden;
	position: relative;
	width: 50%;
	height: 100%;
	float:left;
	transition: margin 1s;
}

.slide-offscreen-left {
	margin-left: -100%;
}

.image-media {
	background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
	width: 100%;
	height: 100%;
}

.youtube-media {
	background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
  width: 100%;
	height: 100%;
}

.media-info {
	position: absolute;
	/*width: 30%;
	height: 100px;*/
	right: 0;
	bottom: 0;
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
  color: white;
}